@font-face {
    font-family: 'my-font';
    src: url(MIXONE.ttf);
}

body {
    font-family: 'my-font', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0b16;
    color: #e0e0e0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #be34a7, #6a0572);
    padding: 20px 40px;
    box-shadow: 0 0 20px #380d70;
    top: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4c1072;
    text-shadow: 0 0 10px #9d00ff, 0 0 20px #9d00ff;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ff34c2;
    color: #000;
    box-shadow: 0 0 10px #ff34c2;
}

video {
    display: block;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    border: 4px solid #ff34c2;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 52, 194, 0.5);
}

video:hover {
    box-shadow: 0 0 30px rgba(255, 52, 194, 0.7);
}
P{
    font-size: x-large;
    color: rgb(98, 216, 74);
}